div {
  display: flex;
}

svg {
  width: 200px;
  height: 100px;
  margin-left: 0;
}
  
.title-heading {
  background-color: black;
  color: red;
  font-family: monospace;
  font-size: xxx-large;
}

.center {  
  padding: 10px;
  text-align: center;
}

  .car-section {
  padding-top: 20px;
}

.car {
  margin-left: 0px;
  transition: 500ms;
}

.select-button {
  margin: 20px;
}
  
  .number-of-players {
    font-size: 20px;
  }